package templates

templ layout() {
    <html>
        <head><title>Goallery</title></head>
        <body>
            {children...}
            <a href="/swagger/">Swagger</a>
        </body>
    </html>
}
